
body {
  text-align: center;
}

#card {
  margin: 20%;
  text-align: center;
}

.operatorsdiv {
  display: none;
}

.variablesdiv {
  display: none;
}

.functiondiv {
  display: none;
}

.methodsdiv {
  display: none;
}

#jsdefinition {
  display: none;
}

#operatorsdefinition {
  display: none;
}

#variablesdefinition {
  display: none;
}

#functiondefinition {
  display: none;
}

#methodsdefinition {
  display: none;
}
