#jsdefinition {
  display: none;
}

#operators {
  display: none;
}

#operatorsdefinition {
  display: none;
}

#variables {
  display: none;
}

#variablesdefinition {
  display: none;
}

#function {
  display: none;
}

#functiondefinition {
  display: none;
}

#methods {
  display: none;
}

#methodsdefinition {
  display: none;
}
